/* Background pattern from Toptal Subtle Patterns */
body {
  font-size: 18px;
  background-image: url('../../background.png');
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

